<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>

  <appSettings>
    <add key="DefaultCulture" value="es-MX"/>
  </appSettings>

  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IUserService" />
        <binding name="BasicHttpBinding_IAuthService" />
      </basicHttpBinding>

      <netTcpBinding>
        <binding name="NetTcpBinding_IUserService">
          <security>
            <transport sslProtocols="None" />
          </security>
        </binding>
        <binding name="NetTcpBinding_IAuthService">
          <security>
            <transport sslProtocols="None" />
          </security>
        </binding>
      </netTcpBinding>
    </bindings>

    <client>
      <!-- UserService -->
      <endpoint address="http://localhost:8085/User"
                binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IUserService"
                contract="UserService.IUserService"
                name="BasicHttpBinding_IUserService" />
      <endpoint address="net.tcp://localhost:8095/User"
                binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IUserService"
                contract="UserService.IUserService"
                name="NetTcpBinding_IUserService">
        <identity>
          <userPrincipalName value="LAPTOPIRENE\irene" />
        </identity>
      </endpoint>

      <!-- AuthService -->
      <endpoint address="http://localhost:8085/Auth"
                binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IAuthService"
                contract="AuthService.IAuthService"
                name="BasicHttpBinding_IAuthService" />
      <endpoint address="net.tcp://localhost:8095/Auth"
                binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IAuthService"
                contract="AuthService.IAuthService"
                name="NetTcpBinding_IAuthService">
        <identity>
          <userPrincipalName value="LAP-ASTRID\reino" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>
